main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    color: #000;
    text-wrap: wrap;
    line-height: 1.5em;
}
.hero-section-header-irins{
    height: 20vh;
    width: 100%;
    object-fit: cover;
    object-position:50% 40% ;
    margin-bottom: 2%;

}
.hero-section-header-orcid{
    height: 20vh;
    width: 50%;
    object-fit: fill;
    margin-bottom: 2%;
}

.irins_photos{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2em;
    flex-wrap: wrap;
}
.irins_photos>img{
    flex: 1 0 200px;
    width: calc(30% - 2em);
    height: auto;
    object-fit: fill;
    object-position: 50% 50%;
    transition: transform .3s ease;
}
.irins_photos>img:hover{
    
    transform: scale(1.1);
}
@media (max-width:768pX){
  
    .hero-section-header-irins{
        height: 20vh;
        object-position:50% 40% ;
     
    }
 
  
}
@media (max-width:640px) {
    .hero-section-header-orcid{
        height: 20vh;
        width: 100%;
        object-fit: fill;
        margin-bottom: 5%;
    }
}